<head>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.8.0/d3.min.js"></script>
<script src="//unpkg.com/d3-force-bounce@0.4/dist/d3-force-bounce.min.js"></script>
<script src="//unpkg.com/d3-force-surface@0.4/dist/d3-force-surface.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lotto/style.css' %}" />

</head>

<body>

<div class="main">
    <h2>MCC Lunch Lottery</h2>
    <hr>
    <div class="form">
    Hello {{request.user.first_name}}!
    <p>Every day, a lottery is drawn, and those who have entered for that day will be
      assigned random lunch groups

    <p>Here are the upcoming lottery draws.

      <p>
    <table>
      <tr>
        {% for d in dates %}
          <th>{{d.date}}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for d in dates %}
          <th><button class="entry" value="{{d.offset}}" type="button">
            {% if d.entry %}
              Withdraw
            {% else %}
              Enter
            {% endif %}
          </button></th>
        {% endfor %}
      </tr>
      <tr>
        {% for d in dates %}
          <th><button class="entry view" value="{{d.offset}}" type="button">View</button></th>
        {% endfor %}
      </tr>
    </table>

    <p>You can add or remove your availability
    <p>Lunch is assumed to be at 12, but you are free to negotiate the time and location among your group
        after it is drawn at 11:30.

    <p>

    <svg id="canvas"></svg>

    </div>

</body>

<script>

 $(".entry").click(function(){
      val = $(this).val()
      const view_only = $(this).hasClass("view")
      const but = $(this)
      $.ajax({
          url: "{% url 'entry' %}",
          data: {
            "dOffset": val,
            "view": view_only
          },
          success: function(nodes) {
            if (view_only) {

            } else {
              if (but.html().includes("Enter")) {
                but.html("Withdraw")
              } else {
                but.html("Enter")
              }
            }

            var nodes = $.parseJSON(nodes)
            console.log(nodes)
            draw(nodes)
          }
      })
  })

var nodes = {{nodes | safe }}
var tid = {{tid | safe}}

var GAS_DENSITY = 0.0008, // particles per sq px
			NUM_DIFFUSERS = 5,
			DIFFUSER_RADIUS = 25;

const canvasWidth = 700,
	canvasHeight = 500,
	numGasParticles = Math.round(canvasWidth * canvasHeight * GAS_DENSITY);

var svgCanvas = d3.select('svg#canvas')
		.attr('width', canvasWidth)
		.attr('height', canvasHeight);

const div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


function randomVelocity(temp) {
	// The Maxwell-Boltzman velocity distribution where temp is a renormalized temperature temp = kT/m
	return d3.randomNormal(0, Math.sqrt(temp))();
}

function generateParticles(users) {
  console.log(users)
    temp=15
    var diffusers = users.map((d) => {
		return {
			x: Math.random() * canvasWidth,
			y: Math.random() * canvasHeight,
			vx: 0,
			vy: 0,
			r: DIFFUSER_RADIUS,
            name: d.name,
            id: d.pk
		}
	});
	var gas = d3.range(numGasParticles).map(() => {
		return {
			x: Math.random() * canvasWidth,
			y: Math.random() * canvasHeight,
			vx: randomVelocity(temp),
			vy: randomVelocity(temp),
			r: 3
		}
	});

  console.log(diffusers.concat(gas))

	return diffusers.concat(gas);
}

function draw(nodes) {

  function particleDigest() {

    svgCanvas.selectAll('circle.particle').remove();

  	var particle = svgCanvas.selectAll('circle.particle').data(forceSim.nodes());

  	particle.merge(
  		particle.enter().append('circle')
  			.classed('particle', true)
  			.attr('r', function(d) {
          if ('name' in d) {
            return 25
          } else {
            return 3
          }
        })
  			.attr('fill', 'darkslategrey')
              .attr('stroke-width', function(d) {
                  if (d.id==tid) {
                      return 2
                  } else {
                      return 0
                  }
              })
              .attr('stroke', 'red')
              .on('mouseenter', function(d) {
                  if ('name' in d) {
                      div.transition()
                      .duration(200)
                      .style("opacity",.9);
                      div.html(d.name)
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY) + "px");
                  }

              })
              .on('mouseleave', function(d) {
                  console.log("out")
                  div.transition()
                  .duration(500)
                  .style("opacity",0);
              })

  	)
  		.attr('cx', d => d.x)
  		.attr('cy', d => d.y);
  }

  var forceSim = d3.forceSimulation()
  	.alphaDecay(0)
  	.velocityDecay(0)
  	.on('tick', particleDigest)
  	.force('bounce', d3.forceBounce()
  		.radius(d => d.r)
  	)
  	.force('container', d3.forceSurface()
  		.surfaces([
  			{from: {x:0,y:0}, to: {x:0,y:canvasHeight}},
  			{from: {x:0,y:canvasHeight}, to: {x:canvasWidth,y:canvasHeight}},
  			{from: {x:canvasWidth,y:canvasHeight}, to: {x:canvasWidth,y:0}},
  			{from: {x:canvasWidth,y:0}, to: {x:0,y:0}}
  		])
  		.oneWay(true)
  		.radius(d => d.r)
  	)
  	.nodes(generateParticles(nodes));

    return forceSim
}

draw(nodes)



</script>
